@layer reset, base, tokens, recipes, utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

body {
  font-family: 'Pretendard', ui-sans-serif, system-ui, sans-serif;
  background-color: var(--colors-bg-page);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
  color: var(--colors-text-base);
}
